CompileFlags:
    Add:
      - -I/Users/thebook/Downloads/cpp/third_party/skia/skia
      - -I/Users/thebook/Downloads/cpp/third_party/skia/skia/include
      - -I/Users/thebook/Downloads/cpp/third_party/skia/skia/modules
      - -I/Users/thebook/Downloads/cpp/src
      - -std=c++17


